$background-color: rgba(255, 255, 255, 0.25); // 背景色
$text-color: #ffffff;

// CahtGPT作
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  //background-color: #007bff;
  color: #fff;
}

.header h1 {
  font-size: 20px;
}

// .header__signOut {
//   padding: 8px 16px;
//   //background-color: #fff;
//   //color: #007bff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 14px;
//   transition: background-color 0.3s ease;
// }

// .header__signOut:hover {
//   background-color: #e0e0e0;
// }

// .main {
//   padding: 20px;
//   margin: 9rem auto;
// }

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.training__label,
.meal__title,
.body__weight {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.training__choice,
.meal__set,
.body__weight-set {
  background-color: $background-color;
  color: $text-color;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.Set__button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.Set__button:hover {
  background-color: #218838;
}
