// dataDetail.scss

// body {
//   font-family: "Arial", sans-serif;
//   background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   //height: 100vh;
//   margin: 0;
//   flex-direction: column;
// }

.header {
  background-color: #3498db;
  color: #fff;
  padding: auto;
  width: 100%;
  text-align: center;
  margin: auto;
}

.header__signOut {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: auto;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.header__signOut:hover {
  background: #c0392b;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main__day,
.main__review,
.main__detail,
.main__review-url {
  background: #f1f1f1;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

h3 {
  margin-top: 1rem;
  color: #333;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

footer button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.5rem;
}

footer button:hover {
  background: #2980b9;
}
