// signup.scss

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  //display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  margin: 0;
}

.main {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.error-Mes {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.signup-Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.signup-Form__error_name,
.signup-Form__error_mail,
.signup-Form__error_pass {
  color: #e74c3c;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  background: #3498db;
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background: #2980b9;
}

#link-Log {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #3498db;
  text-decoration: none;
}

#link-Log:hover {
  color: #2980b9;
}
